@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-lato: "Lato", sans-serif;
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 10%);
  --color-secondaryLight: hsl(0, 0%, 70%);
  --color-accent: hsl(17, 64%, 52%);
  --color-accentHover: hsl(17, 64%, 48%);
}
